# AWS configuration
AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=CHANGE_ME
AWS_SECRET_ACCESS_KEY=CHANGE_ME
# AWS_SESSION_TOKEN=CHANGE_ME
# AWS_PROFILE=default

AWS_S3_BUCKET=change/me
MAPEAMENTO_OCDS_OUTPUT_DIR=change/me

# Database configuration
DB_HOST="change_me"
DB_PASS="change_me"
DB_PORT="change_me"
DB_USER="change_me"