# History files
.Rhistory
.Rapp.history
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# Project files
.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
project.Rproj

# Arquivos específicos
valida-rotulagem.ipynb
catalogo-vetorizado.csv

#Arquivos de dados volumosos
tasks/unifica-dados/input
tasks/unifica-dados/output

valida-rotulagem.ipynb
tasks/unifica-dados/input/contratacoes2.rds
tasks/unifica-dados/input/contratacoes3.csv
tasks/unifica-dados/input/contratacoes3.rds
tasks/unifica-dados/input/itens2_resultados.rds
tasks/unifica-dados/input/itens2-resultados.rds
tasks/unifica-dados/input/itens2.rds
tasks/unifica-dados/input/itens3-resultados.rds
tasks/unifica-dados/input/itens3.rds
tasks/unifica-dados/output/contratacoes.csv
tasks/unifica-dados/input/itens1.rds
tasks/unifica-dados/output/itens.csv
tasks/unifica-dados/output/itens-resultados.csv
tasks/unifica-dados/output/medicamentos.csv
tasks/unifica-dados/output/medicamentos.csv.old
tasks/unifica-dados/output/medicamentos-endpoint-recuperado.csv
tasks/unifica-dados/output/itens.csv.old
tasks/unifica-dados/output/itens-endpoint-recuperado.csv
coleta/resultados/temp/monitoramento.csv
coleta/resultados/temp/erros.csv
coleta/resultados/temp/dados.csv
coleta/itens/itens.csv
coleta-resultados.log
.vscode/settings.json
coleta/itens/medicamentos.csv
coleta/resultados/dados.csv
coleta/resultados/erros.csv
coleta/resultados/monitoramento.csv
tasks/unifica-dados/output/itens-resultados-medicamentos.csv
tasks/unifica-dados/output/itens-resultados.csv.old

**/_recoletas
coleta/**/*.csv
.env
tasks/verifica-campos-com-catalogo-e-ncm/input/itens-filtrados.rds
tasks/verifica-campos-com-catalogo-e-ncm/input/usuarios.rds

tasks/mapeamento-ocds/output/**/json/*
tasks/mapeamento-ocds/output/**/zip/*
tasks/mapeamento-ocds-/output/**/json/*
tasks/mapeamento-ocds-/output/**/zip/*
tasks/experimento-LLM/inputs/demais-items.csv
tasks/experimento-LLM/inputs/medicamentos-baixa-similaridade.csv
/.venv-pncp
src/ETL/instruções para rodar.txt
tasks/mapeamento-ocds/output.old/.gitkeep
tasks/mapeamento-ocds/output.old/2025-1/log-2025-01.log
tasks/mapeamento-ocds/output.old/2025-1/zip/ac-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/al-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/am-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/ap-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/ba-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/ce-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/df-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/es-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/go-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/ma-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/mg-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/ms-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/mt-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/pa-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/pb-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/pe-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/pi-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/pr-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/rj-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/rn-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/ro-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/rr-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/rs-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/sc-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/se-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/sp-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-1/zip/to-1-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/log-2025-02.log
tasks/mapeamento-ocds/output.old/2025-2/zip/ac-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/al-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/am-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/ap-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/ba-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/ce-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/df-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/es-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/go-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/ma-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/mg-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/ms-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/mt-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/pa-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/pb-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/pe-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/pi-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/pr-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/rj-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/rn-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/ro-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/rr-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/rs-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/sc-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/se-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/sp-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-2/zip/to-2-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/log-2025-03.log
tasks/mapeamento-ocds/output.old/2025-3/zip/ac-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/al-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/am-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/ap-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/ba-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/ce-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/df-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/es-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/go-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/ma-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/mg-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/ms-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/mt-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/pa-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/pb-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/pe-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/pi-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/pr-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/rj-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/rn-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/ro-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/rr-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/rs-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/sc-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/se-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/sp-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-3/zip/to-3-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/ac-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/al-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/am-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/ap-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/ba-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/ce-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/df-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/es-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/go-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/ma-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/mg-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/ms-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/mt-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/pa-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/pb-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/pe-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/pi-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/pr-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/rj-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/rn-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/ro-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/rr-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/rs-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/sc-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/se-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/sp-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-4/zip/to-4-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/ac-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/al-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/am-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/ap-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/ba-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/ce-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/df-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/es-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/go-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/ma-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/mg-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/ms-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/mt-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/pa-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/pb-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/pe-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/pi-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/pr-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/rj-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/rn-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/ro-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/rr-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/rs-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/sc-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/se-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/sp-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-5/zip/to-5-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/ac-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/al-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/am-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/ap-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/ba-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/ce-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/df-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/es-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/go-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/ma-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/mg-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/ms-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/mt-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/pa-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/pb-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/pe-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/pi-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/pr-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/rj-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/rn-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/ro-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/rr-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/rs-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/sc-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/se-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/sp-6-2025-json.zip
tasks/mapeamento-ocds/output.old/2025-6/zip/to-6-2025-json.zip
tasks/mapeamento-ocds/output.old/exemplo/exemplo.json
# Ignora todos os CSVs...
tasks/mapeamento-ocds/output/2025/**/*.csv
# ...exceto os que têm "erro" no nome
!tasks/mapeamento-ocds/output/2025/**/*erro*.csv
