# History files
.Rhistory
.Rapp.history
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# Project files
.Rproj
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
project.Rproj

# Arquivos específicos
valida-rotulagem.ipynb
catalogo-vetorizado.csv

#Arquivos de dados volumosos
tasks/unifica-dados/input
tasks/unifica-dados/output

valida-rotulagem.ipynb
tasks/unifica-dados/input/contratacoes2.rds
tasks/unifica-dados/input/contratacoes3.csv
tasks/unifica-dados/input/contratacoes3.rds
tasks/unifica-dados/input/itens2_resultados.rds
tasks/unifica-dados/input/itens2-resultados.rds
tasks/unifica-dados/input/itens2.rds
tasks/unifica-dados/input/itens3-resultados.rds
tasks/unifica-dados/input/itens3.rds
tasks/unifica-dados/output/contratacoes.csv
tasks/unifica-dados/input/itens1.rds
tasks/unifica-dados/output/itens.csv
tasks/unifica-dados/output/itens-resultados.csv
tasks/unifica-dados/output/medicamentos.csv
tasks/unifica-dados/output/medicamentos.csv.old
tasks/unifica-dados/output/medicamentos-endpoint-recuperado.csv
tasks/unifica-dados/output/itens.csv.old
tasks/unifica-dados/output/itens-endpoint-recuperado.csv
coleta/resultados/temp/monitoramento.csv
coleta/resultados/temp/erros.csv
coleta/resultados/temp/dados.csv
coleta/itens/itens.csv
coleta-resultados.log
.vscode/settings.json
coleta/itens/medicamentos.csv
coleta/resultados/dados.csv
coleta/resultados/erros.csv
coleta/resultados/monitoramento.csv
tasks/unifica-dados/output/itens-resultados-medicamentos.csv
tasks/unifica-dados/output/itens-resultados.csv.old

coleta/**/*.csv
